#  +--- minute (0 - 59)
#  |  +--- hour (0 - 23)
#  |  |  +--- day of month (0 - 31)
#  |  |  |   +--- month (1 - 12)
#  |  |  |   |   +--- day of week (0 - 7) 0/7=sunday
#  |  |  |   |   |
#  m  h dom mon dow
MAILTO=robertopc.prog@gmail.com
* * * * * root /home/roberto/github/scripts/cron/every-minute.sh
0 0 * * * root /home/roberto/github/scripts/cron/every-midnight.sh
0 12 * * * root /home/roberto/github/scripts/cron/every-midday.sh
*/15 * * * * root /home/roberto/github/scripts/cron/every-15-minutes.sh
*/30 * * * * root /home/roberto/github/scripts/cron/every-30-minutes.sh
0 *0/12 * * * root /home/roberto/github/scripts/cron/twice-daily.sh
0 */8 * * * root /home/roberto/github/scripts/cron/thrice-daily.sh
0 0 */3 * * root /home/roberto/github/scripts/cron/every-3-days-at-midnight.sh
0 0 1 * * root /home/roberto/github/scripts/cron/every-month.sh
0 0 1 */3 * root /home/roberto/github/scripts/cronevery-3-months.sh
@hourly root echo "@hourly run at `date`" >> ~/cron.log
@daily root echo "@daily run at `date`" >> ~/cron.log
@reboot root echo "@reboot run at `date`" >> ~/cron.log
@monthly echo "@monthly run at `date`" >> ~/cron.log
@weekly echo "@weekly run at `date`" >> ~/cron.log
@yearly echo "@yearly run at `date`" >> ~/cron.log
